<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<!-- 보안 설정 -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>login</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
		
		<!-- 
		<auth-constraint>
			<role-name>Member</role-name>
		</auth-constraint>
		 -->		
		
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
				
	</security-constraint>
	

<!-- 서블릿 매핑 -->
  <servlet>
    <servlet-name>loginInternalName</servlet-name>
    <servlet-class>servletAccount.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginInternalName</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>joinInternalName</servlet-name>
    <servlet-class>servletAccount.Join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinInternalName</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleWriteInternalName</servlet-name>
    <servlet-class>servletBoard.ArticleWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleWriteInternalName</servlet-name>
    <url-pattern>/articleWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleListInternalName</servlet-name>
    <servlet-class>servletBoard.ArticleList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleListInternalName</servlet-name>
    <url-pattern>/articleList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleViewInternalName</servlet-name>
    <servlet-class>servletBoard.ArticleView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleViewInternalName</servlet-name>
    <url-pattern>/articleView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleModifyInternalName</servlet-name>
    <servlet-class>servletBoard.ArticleModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleModifyInternalName</servlet-name>
    <url-pattern>/articleModify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>articleModifyCInternalName</servlet-name>
    <servlet-class>servletBoard.ArticleModifyComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articleModifyCInternalName</servlet-name>
    <url-pattern>/articleModifyComplete.do</url-pattern>
  </servlet-mapping>  
</web-app>