@CHARSET "UTF-8";

/* 큰 영역 size 설정 */
.header,.bodyWrapper,.footer {	width : 1024px; }
.left { width : 0px; }
.center { width : 1024px; }
.right { width : 0px; }

/* 큰 영역 position 설정 */
.bodyWrapper 
{	
	/* 중앙 정렬 */
	position : relative;
	left : 50%;
	margin-left : -512px;	
}

.left { float:left; }
.center { float:left; }
.right { float:left; }

/*----------------공통 적용 사항-----------*/
a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */

hr
{	
	background-color : #262E69;
	height : 4px;
	border : 0px;
}

.centerAlign { text-align : center;}
.bodyWrapper { background-color : #E4E4F9; }
.header,.container,.footer,.center,.left,.right,table,tr,td 
{
	border : 0px;
	border-collapse : collapse; 	
	margin : 0px;
}

/*------------header-------------*/
.headerImage
{
	background-image : url('/snudiceWebpage/image/mainpage/title.png');
	background-repeat : no-repeat;	
	height : 255px;
}


/*----------글 목록 보기-------*/
table#articleListMain,table#articleListBottom
{
	width : 100%;
	text-align : center;
}

tr#articleListHeader
{
	background-color : #2C2B70;
	color : white;
	height : 40px;
}

tr.article
{
	background-color : #E4E4F9;	
}

table#articleListBottom,table#articleListBottom a
{
	background-color : #2C2B70;
	color : white;	
}


/*----------글 보기---------*/
#reply
{
	border : 1px solid gray;	
}


#replyWriteText
{	
	margin-bottom : 5px;
	
	width : 470px;
	height : 50px;	
	
	overflow : hidden; /* 스크롤바를 숨긴다 */
	resize : none; /* 크롬에서 크기 조절을 못하게 한다. */
}


/*----------글 수정하기---------------*/
table#articleModifyTable
{
	width : 100%;
}
	
table#articleModifyTable tr,table#articleModifyTable td
{
	text-align : center;
}

/*-------------글쓰기---------------*/
table#articleWriteTable
{
	width : 100%;
}

table#articleWriteTable tr,table#articleWriteTable td
{
	text-align : center;
}