@CHARSET "UTF-8";

hr 
{ 
	background-color : #61A2BC;
	width : 100%; 
}
textarea.board,input.board { font-size : 120%; }
textarea.board 
{ 
	resize : none; /*크롬에서 크기조절을 못하게 한다*/
	overflow : hidden; /*스크롤 바를 숨긴다 */ 
}

table.board
{	
	margin : 2%;	
	width : 96%;
}

tr.board,td.board
{ 
	height : 30px;
	padding : 5px;
}

/*------------header-------------*/
#headerImage {	z-index : 0; }
.backgroundUp {	z-index : -1; }

.footer { top:-200px; }

.backgroundDown
{
	z-index : -1;
	top : -150px;
}

/*-----공통-----*/
.boardFrameTop
{
	background-image : url('/snudiceWebpage/image/board/boardFrameTop.png');
	background-repeat : no-repeat;
	width : 702px;
	height : 26px;	
}

.boardFrameBody
{
	background-image : url('/snudiceWebpage/image/board/boardFrameBody.png');
	background-repeat : repeat-y;	
	width : 702px;		
}

.boardFrameBottom
{
	background-image : url('/snudiceWebpage/image/board/boardFrameBottom.png');
	background-repeat : no-repeat;
	width : 702px;
	height : 22px;	
}

.boardName
{
	margin-left : 10px;
	margin-bottom : 10px;
	font-size : 150%;
	color : #60320B;
}

tr.buttonTr { text-align : right; }

/*----------글 목록 보기-------*/
table#articleListMain,table#articleListBottom
{	
	margin-left : 3%;
	margin-right : 3%;
	width : 94%;
	text-align : center;
	position : relative;
	top : -20px;
}

td.articleListIndex { width:9%;}
td.articleListTitle { width:45%;}
td.articleListWriter { width:15%;}
td.articleListDateTime { width:15%;}
td.articleListReadCount { width:9%;}

tr#articleListHeader 
{	
	height : 40px;
	color : #59320B; 
	font-weight : bold;
	border-bottom : 2px solid #61A2BC;
}

table#articleListMain td.nickname
{
	color : #90513A;
	font-weight : bold;
}

tr.article td
{
	border : 0px;
	border-bottom : 1px solid #61A2BC;
	border-left : 0px;
	border-right : 0px;
	padding : 5px;
	padding-bottom : 10px;
}

td.pageNumber { width : 80%; }
td.prevNextPage { width : 10%; }

td#articleWrite {width : 80%; }

table#articleListBottom {margin-top : 15px; }
table#articleListBottom td { padding-bottom : 5px; }

#articleSearch { text-align : center; }
form#articleSearchForm
{
	position : relative;
	top : -20px;
}

/*----------글 보기---------*/

#articleViewWrapper
{
	width : 94%;
	margin-left : 3%;
	margin-right : 3%;
}

#articleHeader1{ margin-bottom : 10px;}
#articleHeader2 { margin-bottom : 40px;}
	
span#articleTitle
{	
	color: #59320B;
    font-weight: bold;  
}

span#articleDateTime
{			
	font-size : 90%;
	float:right;
}

span#articleNickName
{ 	
	color : #8E511A;
	font-weight : bold;
}

span#articleReadCount 
{ 	
	float : right; 
}

#reply
{
	margin : 3%;
	border : 0px;
}

#replyHead
{
	padding-top : 8%;
	padding-bottom : 6%;		
}

#replyBackground.invisible { visibility : none; }
#replyBackground.visible
{
	background-color : #E7F3FF;
	padding : 3%;
}

#replyContainer { margin-bottom : 3%; }

span.replyNickName { color : #8E511A; }
span.replyDateTime { float: right; }
span.replyContent 
{
	margin-top : 3%;
	margin-bottom : 3%;
}

#replyWrite
{
	border : 0px;
	padding-left : 3%;
}

#replyWriteText
{
	margin-top : 20px;
	margin-bottom : 5px;
	border : 1px solid #61A2BC;
	
	width : 84%;
	height : 80px;	
}

#replySubmitButton
{
	position : relative;
	height : 73px;
	width : 75px;
	padding-bottom : 10px;
	padding-left : 10px;
}

#articleButtonWrapper
{
	text-align : right;
	margin-top : -1%;
	margin-right : 3%;	
}

#articleDeleteButton { height : 24px; }


/*----------글 수정하기,글쓰기---------------*/
table.articleWriteModifyTable
{
	width : 99%;	
	margin-left: 1%;	
}

table.articleWriteModifyTable, table.articleWriteModifyTable td
{
	border : 0px;
	text-align : center;
}

table.articleWriteModifyTable td.boardAliasNameLabel
{
	border-bottom : 0px;
}

td.boardAliasNameLabel,td.articleWriterLabel,td.articleTitleLabel
{
	color : #59320B;				
	background-color : white;		
}

td.boardAliasNameLabel {width : 15%;}
td.boardAliasNameContent {width : 35%;}
td.articleWriterLabel {width : 15%;}
td.articleWriterContent {width : 35%;}

td.articleTitleLabel {width : 20%;}
td.articleTitleContent
{
	width : 80%;	
	padding-right: 1%;
}
td.articleTitleContent input
{ 
	width: 90%; 
	height:100%;
	border: 1px solid #61A2BC;
}

td.articleTextContent 
{
	width : 100%;
	height : 600px;
}
	
td.articleTextContent textarea
{
	width: 90%;
	height:90%; 	 		
}

table.articleWriteModifyTable input.noBorder,table.articleWriteModifyTable textarea
{
	padding : 0px;
	margin : 0px;
	border : 1px solid #61A2BC;	
}

input.articleWriteWrapper
{
	position : relative;
	left : 35%;	
	height : 25px;
}

a.articleListWrapper
{
	position : relative;
	left : 36%;	
}

input.articleModifyWrapper
{
	position : relative;
	left : 36%;	
	width : 45px;
	height : 24px;
}