@CHARSET "UTF-8";
table,tr,td,div,span 
{
	word-wrap:break-word; 
	word-break: break-all; 
}

a { color : black; }
a:link { text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */
input {	height : 20px; }

img,div,table,tr,td  {	border : 0px; }
tr,td { padding : 0px; }
table { border-collapse: collapse; }

hr
{	
	background-color : #BCD9EB;
	height : 2px;
	border : 0px;
	width : 100%;	
}

.msg { color:red; }

.button
{
	background-color : #D0DCE4;
	border : 1px solid #9B9C9B;
	padding-left : 5px;
	padding-right: 5px;	
	padding-bottom : 2px;
	cursor : pointer;
	text-align : center;
}

.bodyWrapper
{
	width : 1025px; 
	/* 중앙 정렬 */
	position : relative;
	left : 50%;
	margin-left : -512px;
	font-family : "맑은 고딕","Franklin Gothic M";
}

.header,.footer {	width : 1025px; }

/*----------------header-----------*/
#headerImage
{
	background-image : url('/snudice/image/mainpage/title.png');
	background-repeat : no-repeat;	
	height : 127px;
	z-index : 1;
	position : relative;		
	left : 50px;
}

.footer 
{ 
	clear : left; 
	position : relative; 	
	text-align : center;
	font-size : 80%;
}

.left 
{
	 width : 227px; 
	 margin-left:15px;
	 float:left;
}

.center 
{ 
	float:left; 
	margin-left: 10px; 
	width : 720px;
}

.right 
{ 
	float:left;
	width : 0px; 
	margin-right:50px; 
}

.dummy { clear: both; }

.backgroundUp
{
	background-image : url('/snudice/image/mainpage/backgroundUp.png');
	background-repeat : no-repeat;
	height : 284px;	
	z-index : 0;	
	position : relative;
	margin-bottom : -270px;
}

.backgroundDown
{
	background-image : url('/snudice/image/mainpage/backgroundDown.png');
	background-repeat : no-repeat;	
	width : 1025px;
	height : 284px;
	clear: left;
	position : relative;	
	z-index : 0;	
}

.containerTop, .containerBottom
{
	width : 980px;
	height : 21px;
	position : relative;
	left : 22px;	
	z-index : 1;
}

.containerTop
{
	background-image : url('/snudice/image/mainpage/containerTop.png');
	background-repeat : no-repeat;	
	top : -76px;		
}

.containerBottom
{
	background-image : url('/snudice/image/mainpage/containerBottom.png');
	background-repeat : no-repeat;
	top : 3px;	
}

.leftCenterRightWrapper 
{	
	width : 980px;	
	margin-left:22px;
	margin-right:22px;	
	margin-top:-80px;
	padding-top : 30px;	
	
	position : relative;
	top : 3px;
	z-index : 1;	
	
	background-image : url('/snudice/image/mainpage/containerMiddle.png');
	background-repeat : repeat-y;	
}


/*-----공통-----*/

.frameTop
{
	background-image : url('/snudice/image/board/boardFrameTop.png');
	background-repeat : no-repeat;
	width : 702px;
	height : 26px;	
}

.frameBody
{
	background-image : url('/snudice/image/board/boardFrameBody.png');
	background-repeat : repeat-y;	
	width : 702px;		
}

.frameBottom
{
	background-image : url('/snudice/image/board/boardFrameBottom.png');
	background-repeat : no-repeat;
	width : 702px;
	height : 22px;	
}

.contentTitle
{
	margin-left : 20px;
	margin-bottom : 20px;
	font-size : 145%;
	color : #60320B;	
}

.contentSmallTitle
{	
	font-size : 100%;
	font-weight : bold;
	color : #60320B;	
}

tr.buttonTr { text-align : right; }

