@CHARSET "UTF-8";

.left { width : 0px; }
.right { width : 0px; }
.center 
{ 
	text-align : center;
	left : 120px; 
	position : relative;
}

.footer { top:-60px; }

.backgroundDown { z-index : -1; }
.backgroundUp {	z-index : -1; }	
#headerImage { margin-top : -270px; }