@CHARSET "UTF-8";

.backgroundDown { top : -150px; }
.footer { top : -200px; }

/*------시놉시스------*/

#System { padding : 2%; }

/*------게임 메뉴얼------*/

#manualSelect
{
	background-image : url('/snudiceWebpage/image/misc/manualSelectBackground.png');	
	background-repeat : no-repeat;
	width : 653px;
	height : 52px;
	margin-left : 25px;
}

/*------캐릭터 소개------*/

#charLine { padding-top : 3%; }
#charBody { padding-top : 2%; }
#charBody tr td
{
	padding : 3%;
}

/*--------카드----------*/

#cardBody { padding : 5%; }
#cardInfor { color : #993E00; }
#cardStudy
{
	padding-top : 5%;
	color : #66985C;
}
#cardStamina
{
	padding-top : 5%;
	color : #1A5789;
}
#cardClass
{
	padding-top : 5%;
	color : #ED7600;
}
#cardMove
{
	padding-top : 5%;
	color : #D6BC00;
}
#cardLove
{
	padding-top : 5%;
	color : #FF85D6;
}

#cardStudy span { padding-left : 2%; }
#cardStamina span { padding-left : 2%; }
#cardClass span { padding-left : 2%; }
#cardMove span { padding-left : 2%; }
#cardLove span { padding-left : 2%; }

#cardLine { padding-top : 3%; }

