@CHARSET "UTF-8";

a:link {color :#666; text-decoration:none;}    /* unvisited link */
a:visited {color :#666 ;text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */

img 
{
	border : 0px;	
}

div.wrapper 
{		
	width : auto;
	margin-left : 20%;
	margin-right : 20%
}

/*----------------header-----------*/

/*----------------container-----------*/

/*----------------left-----------*/

div.left 
{
	float : left;
}

#mainLeftTop 
{
	background-image : url('/snudiceWebpage/image/mainpage/loginWindow.png');
	background-repeat : no-repeat;
	width : 256px;
	height : 187px;
}

#idpwWrap 
{
	position : relative;
	left : 50px;
}

#idpw 
{
	float : left;
}

#loginHelp 
{
	text-align : center;
}

#mainLeftBottom 
{
	background-image : url('/snudiceWebpage/image/mainpage/buttonWindow.png');
	background-repeat : no-repeat;
	width : 264px;
	height : 113px;
}

/*----------------center-----------*/
div.center
{
	width : auto;
}

/*----------------center-----------*/
div.right
{
	width : 0px;
}

/*----------------footer-----------*/
