@CHARSET "UTF-8";

/*----------------공통 적용 사항-----------*/

a:link {color :#666; text-decoration:none;}    /* unvisited link */
a:visited {color :#666 ;text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */

img { border : 0px; }
div.centerAlign { text-align : center; }

div.wrapper 
{	
	/* 중앙 정렬 */
	position : relative;
	left : 50%;
	margin-left : -512px;	
	width : 1024px;	
}

div.left { float:left; }
div.center { float:left; }
div.right { float:left; }

/*----------------header-----------*/
#headerImage
{
	background-image : url('/snudiceWebpage/image/mainpage/title.png');
	background-repeat : no-repeat;	
	height : 255px;
}	 		
	
/*----------------center-----------*/
div.center
{
	width : 750px;		
	margin-left: 5px;
}

/*------------- login form ---------*/
div.left
{
	width : 264px;		
}

#mainLeftTop
{
	background-image : url('/snudiceWebpage/image/mainpage/loginWindow.png');
	background-repeat : no-repeat;
	width : 264px;
	height : 187px;
}
	
#loginFormWrapper.visible
{	
	display : block;	
}

#loginFormWrapper.invisible
{
	display : none;
}
	
#loginButton
{
	background-image : url('/snudiceWebpage/image/mainpage/login.png');
	background-repeat : no-repeat;
	width : 64px;
	height : 63px;
	margin-left : 180px;
}

#mainLeftBottom 
{
	background-image : url('/snudiceWebpage/image/mainpage/buttonWindow.png');
	background-repeat : no-repeat;
	width : 264px;
	height : 113px;
}

#idpw 
{
	float : left;	
	margin-left : 50px;	
}

#login { margin-left : 5px; }
#loginHelp { text-align : center; }
#userId { width:120px; }
#password { width:120px; margin-top:5px;}
#loginMsg 
{ 
	color:red;
	margin-left : 30px; 
}

#logoutWrapper.invisible 
{
	visibility : hidden;
}

#logoutWrapper.visible 
{
	visibility : visible;
	margin-left : 30px;
}
	

#gameStart 
{
	background-image : url('/snudiceWebpage/image/mainpage/start.png');
	background-repeat : no-repeat;
	width : 109px;
	height : 98px;
	
	float : left;
	margin-left : 22px;
	margin-top : 15px;
}

#clientDownload 
{
	background-image : url('/snudiceWebpage/image/mainpage/download.png');
	background-repeat : no-repeat;
	width : 109px;
	height : 98px;
	
	float : left;
	margin-left : 18px;
	margin-top : 15px;
}

/*---------------join form-----------*/
#joinFormWrapper.display_none {	display : none; }
#joinFormWrapper.display_block
{
	/*
	background-image : url('/snudiceWebpage/image/mainpage/loginWindow.png');
	background-repeat : no-repeat;
	*/
	background-color : white;
	position : absolute;
	left : 30px;
	top : 30px;
	display : block;	
	
	width : 280px;
	height : 220px;	
}

#joinFormTable
{
	margin-left : 5px;
	margin-top : 5px;
}

#joinFormTable td.label
{
	text-align : center;
}

#joinId { width : 120px; }
#joinPw { width : 120px; }
#joinPwConfirm { width : 120px; }
#joinemail { width : 140px; }

#joinMsg { color : red; }


/*---------------footer-----------*/
.footer
{
	width : 1024px;
	clear : left;
	text-align : center;	
}