@CHARSET "UTF-8";

a:link {color :#666; text-decoration:none;}    /* unvisited link */
a:visited {color :#666 ;text-decoration:none;} /* visited link */
a:hover {text-decoration:none;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */

img 
{
	border : 0px;	
}

div.wrapper 
{	
	position : relative;
	left : 50%;
	margin-left : -512px;	
	width : 1024px;	
}

/*----------------header-----------*/

/*----------------container-----------*/
div.container
{
	border : 1px solid black;
}

/*----------------left-----------*/

div.left 
{
	float : left;
	border : 1px solid black;
}

#mainLeftBottom 
{
	background-image : url('/snudiceWebpage/image/mainpage/buttonWindow.png');
	background-repeat : no-repeat;
	width : 264px;
	height : 113px;
	border : 1px solid black;
}


/*----------------center-----------*/
div.center
{
	width : auto;
	border : 1px solid black;
}

div.right
{
	width : auto;
	border : 1px solid black;
}

/*----------------footer-----------*/

/*------------- login form ---------*/
#mainLeftTop 
{
	background-image : url('/snudiceWebpage/image/mainpage/loginWindow.png');
	background-repeat : no-repeat;
	width : 256px;
	height : 187px;
	border : 1px solid black;
}

#idpw 
{
	float : left;	
	margin-left : 50px;	
}

#login { margin-left : 5px; }
#loginHelp { text-align : center; }
#userId { width:120px; }
#password { width:120px; margin-top:5px;}

/*---------------join form-----------*/
#joinFormWrapper
{
	/*
	background-image : url('/snudiceWebpage/image/mainpage/loginWindow.png');
	background-repeat : no-repeat;
	*/
	background-color : white;
	position : absolute;
	left : 50px;
	top : 50px;
	display : none;	
	
	width : 400px;
	height : 180px;
}

#joinFormTable
{
	margin-left : 5px;
	margin-top : 5px;
}

#joinFormTable td.label
{
	text-align : center;
}

#joinId { width : 120px; }
#joinPw { width : 120px; }
#joinPwConfirm { width : 120px; }
#joinemail { width : 140px; }

#joinMsg { color : red; }