@CHARSET "UTF-8";

/*------------- menu ----------------*/
#menu
{
	width : 100%;
	height : 120px;
	margin-bottom : 10px;
}

#logoWrapper
{
	background-image : url('/snudiceWebpage/image/mainpage/logoWrapper.png');
	background-repeat : no-repeat;
	position : relative;
	z-index : 4;
	height : 100px;
	width : 230px;	
	left: 40px;
	top : 2px;		
	
	float : left;
}

#logo
{
	margin-left : 25px;
	margin-top : 10px;
}

#menuWrapper 
{
	float : left;
	margin-top : 22px;
}

#menuWrapper .invisible { visibility : hidden; }
#menuWrapper .visible { visibility : visible; }

#menu1 { margin-left : 40px; }
#menu2,#menu3,#menu4,#menu5 { margin-left : 10px; }
#menu1DropDown,#menu2DropDown,#menu3DropDown,#menu4DropDown,#menu5DropDown
{
	text-align : left;
	padding-left : 20px;
	font-size : 90%;
}

#menu1DropDown div,#menu2DropDown div,#menu3DropDown div,#menu4DropDown div,#menu5DropDown div
{
	margin-bottom : 3px;
}
	
#menu1DropDown.visible
{
	background-image : url('/snudiceWebpage/image/mainpage/menu2Line.png');
	background-repeat : no-repeat;
	margin-top : -36px;
	padding-top : 36px;	
	height : 90px;
}

#menu2DropDown.visible
{
	background-image : url('/snudiceWebpage/image/mainpage/menu4Line.png');
	background-repeat : no-repeat;
	margin-top : -36px;
	padding-top : 36px;	
	height : 132px;	
}

#menu3DropDown.visible
{
	background-image : url('/snudiceWebpage/image/mainpage/menu1Line.png');
	background-repeat : no-repeat;
	margin-top : -36px;
	padding-top : 36px;	
	height : 64px;
}

#menu4DropDown.visible
{
	background-image : url('/snudiceWebpage/image/mainpage/menu1Line.png');
	background-repeat : no-repeat;
	margin-top : -36px;
	padding-top : 36px;	
	height : 64px;
}

#menu5DropDown.visible
{
	background-image : url('/snudiceWebpage/image/mainpage/menu3Line.png');
	background-repeat : no-repeat;
	margin-top : -36px;
	padding-top : 36px;	
	height : 109px;
}


#menu1,#menu2,#menu3,#menu4,#menu5
{
	background-image : url('/snudiceWebpage/image/mainpage/menuBackground.png');
	background-repeat : no-repeat;
	float : left;
	width : 132px;
	height : 32px;
	position : relative;
	z-index : 2;	
	text-align : center;
	padding-top : 5px;
	font-weight: bold;	
}

.menuDropDownWrapper
{
	position : relative;
	top : 10px;
	z-index : 4;
}

#notice,#update,#synopsis,#playGuide,#character,#card,#teamIntro,#freeBoard,#gameDownload,#wallPaper,#screenShot { cursor : pointer; }