@CHARSET "UTF-8";

.left { width : 0px; }
.right { width : 0px; }
.center
{
	position : relative;
	left : 50%;
	margin-left : -132px;
}

.footer { top:-60px; }
.backgroundDown { z-index : -1; }
.backgroundUp {	z-index : -1; }
#loginMsg {	top: 25px; }
#mainLeftTop { height : 160px; }